.journey-button {
    display: block;
    width: fit-content;

    margin: 35px auto 0;
    
    padding: 12px 28px;

    text-decoration: none;

    color: #4b3b2b;
    border: 1px solid #9a8b78;
    border-radius: 25px;

    font-size: 1rem;

    transition: all 0.3s ease;
}

.journey-button:hover {
    transform: translateY(-2px);
}