* {
  margin: 0;
  padding: 0;
  box_sizing: boarder_box;
  }

  body {
     background:
        linear-gradient(
            rgba(43,16,85,.75),
            rgba(94,74,227,.75)
        ),
        url("./assets/backgrounds/watercolor2.jpg");

    background-size: cover;
    background-position:center;
    background-repeat:no-repeat;

    min-height:100vh;
    }
    main {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding: 20px;
    }
    h1 {
      font-size: 3.5rem;
      margin-bottom: 20px;
    }
    h3 {
      margin-bottom:20px;
    font-weight:400;
    letter-spacing:2px;
    color:#f5e6ff;
    }
     p {
      font-style: italic;
      font-size: 1rem;
      margin-bottom: 20px;
      max-width: 600px;
      opacity: 0.9;
      line-height: 1.8;
      
    }
    button {
       padding: 15px 35px;

  border: none;
  border-radius: 50px;

  background: white;
  color: #2b1055;

  font-size: 1rem;
  font-weight: bold;

  cursor: pointer;

  transition: 0.3s;
    }
    button:hover {
  transform: scale(1.05);
}